body {
    display: flex;
    flex-flow: column;
    height: 100vh;
    margin: 0;
}

header {
    background-color: #ddf;

    nav {
        display: flex;
        padding: 0.5rem;
    }
}

.button {
    background-color: #cfc;
    border-radius: 0.5rem;
    color: #000;
    cursor: pointer;
    font-weight: 600;
    margin-right: 1rem;
    padding: 0.75rem 1.25rem;
    text-decoration: none;
}

main {
    flex: 1;
}

.image-thumbnail {
    height: 10vw;
    width: 10vw;

    &.large {
        height: 30vw;
        width: 30vw;
    }

    img {
        height: 100%;
        object-fit: contain;
        width: 100%;
    }
}

.grid {
    border-radius: 5px;
    border: 1px solid black;
    display: inline-block;
    padding: 2px;
}
.chosen {
    background-color: #e8ffe8;
}
.exclude {
    background-color: #ffe8e8;
}
