main {
    display: flex;
    flex-flow: row;
    margin: 0;
    overflow: auto;
}

.nav-panel {
    background-color: aliceblue;
    border-radius: 10px;
    border: 1px solid black;
    margin: 5px;
    overflow-y: auto; /* Add vertical scrollbar if content overflows */
    padding: 5px;
    width: 13rem;

    .pagination {
        display: block;
        margin-bottom: 10px;
        text-align: center;

        .icon {
            background: none;
            border: none;
            font-size: 1.2em;
            padding: 0px;

            button& {
                cursor: pointer;
            }
        }
    }

    .heading {
        display: block;
        font-weight: bold;
        padding-top: 10px;
    }

    .settings {
        input[type='number'] {
            width: 35%;
        }

        input[type='text'], input[type='date'] {
            width: 95%;
        }

        .bounds {
            label {
                display: inline-block;
                width: 10%;
            }

            input {
                width: 82%;
            }
        }
    }
    button {
        padding: 0px 25px;
        font-size: 2em;
        margin: 5px;
    }
}

.content-panel {
    flex: 1; /* Takes up remaining space */
    padding: 10px;
    overflow-y: auto; /* Add vertical scrollbar if content overflows */
}

.grid {
    position: relative;

    .group-text {
        background-color: darkviolet;
        color: white;
        font-size: 1.5em;
        font-weight: bold;
        opacity: 0.6;
        margin: 2px;
        padding: 0 2px;
        position: absolute;
        top: 0;
    }
}
