.overview {
    padding: 2rem;
    text-align: center;

    div {
        font-size: 12rem;
        font-weight: bold;
        
        div {
            font-size: 3rem;
            margin-top: -3rem;
            padding-bottom: 4rem;
        }
    }
}
