form .selected {
    background-color: #ccf;
}

.centreable {
    position: relative;

    img {
        cursor: crosshair;
    }

    .marker {
        position: absolute;
        width: 14px;
        height: 14px;
        background-color: red;
        border: 2px solid white;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        pointer-events: none;
        box-shadow: 0 0 4px rgba(0,0,0,0.5);
    }
}
